:root
{
  --cor-contraste: crimson;
  --cor-button-contraste: #a30f2d;
}

.formulario
{
  margin: auto;
  width: 60%;
}

.nome-formulario
{
  border-bottom: solid 5px var(--cor-contraste);
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.6em;
  text-align: center;
}

.dados-formulario
{
  padding: 2em;
  margin: auto;
  width: 90%;
}

.dados-formulario input[type="text"]
{
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.dados-formulario input[type="number"]
{
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.dados-formulario input[type="date"]
{
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.dados-formulario input[type="email"]
{
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
  padding: 0.5em;
  text-align: center;
  width: 80%;
}

.dados-formulario select
{
  font-size: 1.2em;
  margin: auto;
  margin-bottom: 1.5em;
  width: 80%;
}

.dados-formulario button
{
  background-color: var(--cor-contraste);
  border: none;
  border-radius: 0.3em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.6em;
  transition: 0.3s;
  width: 100%;
}

.dados-formulario button:hover
{
  background-color: var(--cor-button-contraste);
}

.dados-formulario .titulo
{
  font-size: 1.1em;
  font-weight: bold;
  margin: auto;
  margin-bottom: 0.5em;
  width: 80%;
}

.container {
  display: block;
  position: relative;
  padding-left: calc(2.5em + 50px);
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 2em;
  height: 25px;
  transform: translate(100%,0%);
  width: 25px;
  background-color: grey;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.opcoes-finalizar
{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

/* The alert message box */
.alert {
  padding: 20px;
  border: solid 1px lightgrey;
  border-left: solid 8px GoldenRod;
  box-shadow: 1px 1px 5px grey;
  color: black;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: black;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: crimson;
}
